html,body{
  font-family: sans-serif;
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.container{
  max-width: 600px;
  margin: 0 auto;
}

.players {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.player {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.disc {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  z-index: -1;
}

.disc-YELLOW {
  background-color: yellow;
  box-shadow: inset 0 0 0 2px rgb(88, 88, 12);
  outline:  solid 1px rgb(88, 88, 12);
  width: 50px;
  border: solid 3px yellow;
  height: 50px;
  border-radius: 100%;
}

.disc-RED {
  background-color: red;
  box-shadow: inset 0 0 0 2px rgb(83, 20, 11);
  outline:  solid 1px rgb(83, 20, 11);
  width: 50px;
  border: solid 3px red;
  height: 50px;
  border-radius: 100%;
}

.selector {
  display: flex;
  gap: .5rem
}

.selector .disc {
  margin: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  aspect-ratio: var(--cols) / var(--rows);
  background-color: blue;
  background: radial-gradient(circle,transparent,transparent 50%,blue 51%, rgb(2, 2, 155) 60%, rgb(2, 2, 119) 70% , navy 100%);
  background-size: calc(100%/ var(--cols)) calc(100%/ var(--rows));
  border: 20px solid navy ;
  place-content: center;
  place-items: center;
  position: relative;
  margin-top: calc(100% / var(--rows));
}

.grid .disc {
  width: 70%;
  height: auto;
  aspect-ratio: 1/1;
  animation: Drop 2s;
}

@keyframes Drop {
    from {
      transform: translateY(calc((-125%) * var(--rows)));
    }
}

.columns {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
}

.column {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: calc(100% + 100% / var(--rows));
}

.column .disc{
  opacity: 0;
  transition: .7s;
  translate: translateY(-20px) ;
}

.column:hover .disc{
  opacity: 1;
  transform: translateY(20px);
}